
/* color schema */

html{
    height: 100%;
}

.bg-1 {
    background-color: #A6EF19; 
}

body {
    background-color: #A6EF19; /* rgb(166,239,24); */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1
}

#content {
    display: inline-block;
}

.container {
    flex: 1;
}


.bps-footer {
    color: #3D9402;
    text-align: center;
    padding: 20px;
    /*
    width: 100%;
    bottom: 5px;
    */
}


.top-navi {
    background-color: rgb(215, 248, 150);
    height: 40px;
    width: 100%;
    padding: 0px;
}

.message-bar {
    background-color: rgb(193,244,94);
    min-height: 70px;
    width: 100%; 
}

.bps-btn {
    margin: 5px;
    color: white;
    border: none;
    padding: 5px;
    font-weight: bolder;
    background-color: rgb(0, 195, 247);
    border-bottom-color: rgb(0, 160, 209);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.logo {
    /*
    display: inline-block;;
    right: 5px;
    top: 120px;
    */
    float: right;
    max-width: 200px;
}

.text-muted-green{
    color: #73B000; /* 3D9402; */

}

.text-muted-grey {
    color: #F1F1F1 !important; /*#3D9402;*/
}

/*
.text-default {
    /*color: #0163A5; /* #00A0D1;  
    text-shadow: 1px 1px 2px #00C3F7; 
    font-family: Colfax-Medium,Arial,Helvetica,sans-serif;
}
*/

.caret{
    transform:rotate(-90deg);
    transition:all 0.3s ease-in-out;
}