
<!-- Access -->

{% extends "base.html" %}
{% block title %}Access - {{ super() }}{% endblock %}

{% block header %}
    {% if login_form %}
        Login
    {% elif new_access_form %}
        Setup Access
    {% else %}
        User Access Management
    {% endif %}
{% endblock %}
{% block content %}

{% if login_form %}  
    <form method="POST" >
        {{ login_form.csrf_token }}
        <div class="form-group col-md-4">
            {{ login_form.username.label }}
            {{ login_form.username(class_="form-control") }}
            <small class="help-block text-muted-green">
                {{ login_form.username.description }}
            </small>
        </div>
        <div class="form-group col-md-4">
            {{ login_form.password.label }}
            {{ login_form.password(class_="form-control") }}
        </div>
        <div class="col-md-12"> 
            <input class="btn btn-primary bps-btn" type="submit" value="Log in">
        </div>
    </form>
{% elif new_access_form %} 
    <form method="POST">
        {{ new_access_form.csrf_token }}
        <div class="form-group col-md-3">
            {{ new_access_form.classroom.label }}
            {{ new_access_form.classroom(class_="form-control") }}
        </div>
        <div class="form-group col-md-4">
            {{ new_access_form.username.label }}
            {{ new_access_form.username(class_="form-control") }}
        </div>
        <div class="form-group col-md-4">
            {{ new_access_form.password.label }} 
            {{ new_access_form.password(class_="form-control") }}
        </div>
        <div class="form-group col-md-1">
            {{ new_access_form.is_admin.label }} 
            {{ new_access_form.is_admin(class_="form-control") }}
        </div>
        <div class="col-md-12"> 
            <input class="btn btn-primary bps-btn" type="submit" value="Create Access">
        </div>
    </form>
{% endif %}

{% endblock %}