<!doctype html>
<html lang="eng">
    <head>
    {% block head %}
        <title>{% block title %}BPS Library{% endblock title %}</title>
        {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock metas %}
        {% block styles %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/bps-base.css')}}" />
        {% endblock styles %}
        {% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock scripts %}
     {% endblock head %}   
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            BPS Library
                        </a>
                    </div>

                </div>
            </nav>
            <!--<div class="message-bar">{% block message_bar %}{% endblock message_bar %}</div>-->
            <div class="container-fluid">
                <img class="logo img-responsive container" src="{{ url_for('static', filename='img/bps_logo_trans_shadow.png') }}" />
            </div>
            <div id="content" class="container-fluid">{% block content %}{% endblock content %}</div>
        </div>
    </body>
    <footer class="bps-footer navbar-fixed-bottom">
            <div class="container">
                <p class="text-muted-green">&copy; 2017 by Youssef Shehab</p>
            </div>
    </footer>

</html>