{% extends "base.html" %}

{% block header %}
Broadheath Primary School Library
{% endblock %}
{% block content %}

    <div class="secondary">
    <p>
        <br>
        <h4 class="text-center">Welcome to Broadheath Primary School Library System.</h4>
    </p>
    <p class="text-center">
        Here you can search for and find information about books int the library.
        <br>
        Simply enter a book title, a name of an auther or a book category in the search box below.
        <br>
    </p>
    </div>
    <div class="text-center">
        <form name="find_books" method="POST" action="{{ url_for('books.find_books') }}" >
            <h3 class="text-info">Search for a book</h3>
            <div class="form-group">
                <small class="text-muted-green">
                    Enter book title, author name or category
                </small> 
                <input  class="center-block text-center" 
                        type="text" 
                        id="search_box" 
                        name="search_term"
                        value="{{ search_term }}"
                        autofocus="true">

            </div>
            <button class="bps-btn btn btn-primary" type="submit">Find books</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>

    
    $( function() {
        var searchTerms = {{ search_terms | safe}};

        $( "#search_box" ).autocomplete({
            source: searchTerms,
            minLength: 3,
            classes: {"ui-autocomplete": "text-center"}
        });
    } );
  </script>
{% endblock %}